section {
    width: 100%;
    padding: 22px;
    background-color: #F9F9FB;
    border-bottom: 2px solid #EFEFF4;
}

.txt-box { gap: 12px; }

.square {
    width: 42px;
    height: 42px;
}

.txt {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: rgb(163, 161, 159);
}

.user {
    color: black;
    font-weight: 700;
}

button {
    all: unset;
    padding: 12px 26px;
    color: #373535;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

button,
.square {
    background-color: #D9D9D9;
}