<div class="area">
    <button id="editBtn" [style.background-color]="isUserSelected ? 'green' : '#D9D9D9'" [disabled]="!isUserSelected">რედაქტირება</button>
    <div class="search-wrapper">
        <input  class="search-input" type="text" placeholder="მოძებნეთ მომხმარებელი" (input)="searchUsers($event.target.value)">
        <span class="search-icon"><img src="../../assets/img/search-icon.svg" alt="search icon"></span>
    </div>
   
</div>


<ul>
    <li *ngFor="let user of displayedUsers" [style.background-color]="user.isSelected ? '#F0F8FF' : 'transparent'" (click)="toggleUserSelection(user)" (dblclick)="goToUserDetail(user.id)">
        <img id="user-img" [src]="user.image" alt="User image">

        <div class="userInfo">
            <div>
                <span id="userFirstName">{{ user.firstName + " " }}</span>
                <span id="userLastName">{{ user.lastName }}</span>
            </div>
            <div>
                <span id="userEmail">{{ user.email }}</span>
            </div>
        </div>
        <p>ყველაზე დიდი მომხმარებლის ჯგუფი</p>
    </li>
</ul>






<div class="pagination">


    <p class="pages-displayed">  {{displayedCountText}} </p>

    <div class="btn-wrapper">
        <button (click)="previousPage()" [disabled]="currentPage === 1"><img src="../../assets/img/arrow-left.svg" alt=""></button>


        <button (click)="goToPage(1)" [ngClass]=" { 'active': isActivePage(1) } ">1</button>
        <button (click)="goToPage(2)" [ngClass]=" { 'active': isActivePage(2) } ">2</button>
        <button (click)="goToPage(3)" [ngClass]=" { 'active': isActivePage(3) } ">3</button>
        
    
        <button *ngFor="let page of pages" (click)="goToPage(page)" >{{ page }}</button>
    
    
    
    
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"><img src="../../assets/img/arrow-right.svg" alt=""></button>
    </div>
    

</div>






