.area { padding: 16px 22px; }

#editBtn {
    all: unset;
    font-size: 12px;
    font-weight: 600;
    color: #1A1512;
    background-color: #D9D9D9;
    padding: 12px 36px;
    border-radius: 8px;
    cursor: not-allowed;
    opacity: 0.5;
    position: relative;
}

#editBtn:enabled {
    cursor: pointer;
    opacity: 1;
}

#editBtn:disabled::after {
    content: "რედაქტირებისთვის აირჩიეთ მომხმარებელი";
    position: absolute;
    top: calc(100% + 5px);
    left: calc(100% + 18px);
    transform: translate(-50%);
    background-color: #141414;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#editBtn:disabled:hover::after { opacity: 1; }


.search-wrapper {
    position: relative;
    display: inline-block;
    width: 300px;
}

.search-input {
    padding: 13px 24px;
    border: 1px solid #EFEFF4;
    background: #F9F9FB;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    color: black;
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 30%;
    left: 16px;
    transform: translate(-50%);
    color: #aaa;
}

ul li {
    list-style-type: none;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #EFEFF4;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

ul {
    gap: 8px;
    margin-left: 22px;
    margin-right: 22px;
    height: 600px;
    overflow: scroll;
    margin-top: 24px;

}

#user-img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.userInfo {
    text-align: left;
    margin-left: 12px;
    width: 300px;
}

#userFirstName,
#userLastName {
    font-size: 14px;
    font-weight: 600;
    color: #1A1512;
}

#userEmail {
    font-size: 12px;
    font-weight: 500;
    color: #464444;
}

p {
    font-size: 14px;
    font-weight: 600;
    color: #1A1512;
}


.pagination { margin: 20px 22px 0 22px; }

.pages-displayed {
    font-size: 12px;
    font-weight: 500;
    color: #1A1512;
}

.btn-wrapper { gap: 8px; }

.btn-wrapper > button {
    all: unset;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #60666d;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: #C73734;
    color: white;
    border: none;
}