<div class="area">
    <button id="editBtn">რედაქტირება</button>
    <div class="search-wrapper">
        <input class="search-input" type="text" placeholder="მოძებნეთ მომხმარებელი" (input)="searchUsers($event.target.value)">
        <span class="search-icon"><img src="../../assets/img/search-icon.svg" alt="search icon"></span>
    </div>
   
</div>


<ul>
    <li *ngFor="let user of displayedUsers">
        <img id="user-img" [src]="user.image" alt="User image">

        <div class="userInfo">
            <div>
                <span id="userFirstName" [style.background-color]="user.isMatch ? '#72be25' : 'transparent'">{{ user.firstName + " " }}</span>
                <span id="userLastName" [style.background-color]="user.isMatch ? '#72be25' : 'transparent'">{{ user.lastName }}</span>
            </div>
            <div>
                <span id="userEmail" [style.background-color]="user.isMatch ? '#72be25' : 'transparent'">{{ user.email }}</span>
            </div>
        </div>
        <p>ყველაზე დიდი მომხმარებლის ჯგუფი</p>
    </li>
</ul>



<!-- <ul>
    <li *ngFor="let user of displayedUsers">
        {{ user.firstName }}
    </li>
</ul> -->


<div class="pagination">


    <p class="pages-displayed">  {{displayedCountText}} </p>

    <div class="btn-wrapper">
        <button (click)="previousPage()" [disabled]="currentPage === 1"><img src="../../assets/img/arrow-left.svg" alt=""></button>


        <button (click)="goToPage(1)">1</button>
        <button (click)="goToPage(2)">2</button>
        <button (click)="goToPage(3)">3</button>
        
    
        <button *ngFor="let page of pages" (click)="goToPage(page)" [ngClass]=" { 'active-page' : currentPage === page } " >{{ page }}</button>
    
    
    
    
        <button (click)="nextPage()" [disabled]="currentPage === totalPages"><img src="../../assets/img/arrow-right.svg" alt=""></button>
    </div>
    

</div>






