<section>
    <img class="logo" src="../../assets/img/logo.svg" alt="SSE company logo">

    <nav>
        <ul>
            <li><a >დასახელება</a></li>
            <li><a >სურათების ავტორიზაციის გვერდზე</a></li>
            <li><a >ინსტრუქცია ავტორიზაციის გვერდზე</a></li>
            <li><a >პარამეტრები</a></li>
            <li><a >მომხმარებლის ჯგუფები</a></li>
            <li><a >დასახელება</a> <img src="../../assets/img/dropdown.svg" alt="dropdown icon"> </li>
        </ul>
    </nav>
</section>