section {
    border-right: 2px solid #EFEFF4;
    padding-top: 50px;
    height: 100%;
}


.logo {
    margin-left: 48px;
    margin-bottom: 64px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 32px;
    cursor: pointer;
}
li {
    padding-left: 30px; /* Space for the square marker */
    position: relative;
    line-height: 24px; /* Set line height to match square size */
    display: flex;
}
li:before {
    content: "";
    display: block;
    width: 24px; /* Square width */
    height: 24px; /* Square height */
    background-color: #b1b1b1; 
    position: absolute;
    left: 0;
    top: 0;
}

li.active:before {
    background-color: black;
}


a { 
    text-decoration: none; 
    font-size: 12px;
    font-weight: 500;
    /* letter-spacing: -2%; */
    /* line-height: 16.32px; */
    color: #807f7f;
}