<section>
    <img class="logo" src="../../assets/images/logo.svg" alt="SSE company logo">

    <nav>
        <ul class="flexColumn">
            <li><a [routerLink]="['not-found']">დასახელება</a></li>
            <li><a [routerLink]="['not-found']">სურათების ავტორიზაციის გვერდზე</a></li>
            <li><a [routerLink]="['not-found']">ინსტრუქცია ავტორიზაციის გვერდზე</a></li>
            <li><a [routerLink]="['not-found']">პარამეტრები</a></li>
            <li [class.active]="isUsersRouteActive"><a [routerLink]="['users']">მომხმარებლის ჯგუფები</a></li>
            <li><a [routerLink]="['not-found']">დასახელება</a> <img src="../../assets/images/dropdown.svg" alt="dropdown icon"> </li>
        </ul>
    </nav>
</section>