section {
    border-right: 2px solid #EFEFF4;
    padding-top: 50px;
    height: 100%;
}

.logo {
    margin-left: 48px;
    margin-bottom: 64px;
}

ul {
    list-style-type: none;
    padding: 0;
    gap: 32px;
    margin-left: 32px;
    cursor: pointer;
}

li {
    position: relative;
    padding-left: 30px; 
    line-height: 24px; 
    display: flex;
}

li:before {
    content: "";
    display: block;
    width: 24px; 
    height: 24px; 
    background-color: #b1b1b1; 

    position: absolute;
    left: 0;
    top: 0;
}

li.active:before {
    background-color: black;
}


a { 
    text-decoration: none; 
    font-size: 12px;
    font-weight: 500;
    
    color: #807f7f;
}