.pageT {
    gap: 24px;
    padding: 30px 22px;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    color: black;
}

button {
    all: unset;
    cursor: pointer;
}

.user-info {
    gap: 16px;
    padding: 30px 22px;
}

p {
    font-size: 22px;
    color: black;
    font-weight: 700;
}

span {
    font-size: 20px;
    color: rgb(60, 60, 231);
    font-weight: 500;
}