<div *ngIf="user">
    <section>
        <div class="pageT">
            <button routerLink="/users">
                <img src="../../../assets/img/leftBtn-arrow.svg" alt="">
            </button>
            <h3>მომხმარებლის ინფორმაცია</h3>
        </div>
    
        <div class="user-info">
            <p>Firstname:<span> {{ user.firstName }} </span></p> 
            <p>Lastname:<span> {{ user.lastName }} </span></p>
            <p>Age:<span> {{ user.age }} </span></p>
            <p>Gender:<span> {{ user.gender }} </span> </p>
            <p>Email:<span> {{ user.email }} </span></p>
            <p>Phone:<span> {{ user.phone }} </span> </p>
        </div>
    </section>

</div>