<div class="backdrop"></div>

<div class="modal">
    
    <h2>მომხმარებლის რედაქტირება</h2>
    <hr class="line">
    
    
    <form (ngSubmit)="onSaveChanges()">
        <div class="input-area flexColumn">
            <div>
                <input type="email" id="email" [(ngModel)]="editableUserData.email" name="email" required>
            </div>
            
            <div class="username flexBetween">
                <input type="text" id="firstName" [(ngModel)]="editableUserData.firstName" name="firstName" required>
                <input type="text" id="lastName" [(ngModel)]="editableUserData.lastName" name="lastName" required>
            </div>
        </div>
        
        <div class="btn-wrapper alignCenter">
            <button class="closeBtn" type="button" (click)="onCloseModal()">გაუქმება</button>
            <button class="submitBtn" type="submit">დამატება</button>
        </div>
    </form>


</div>

  