section {
    padding: 30px 22px 15px 22px;
    border-bottom: 2px solid #EFEFF4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 18px;
    letter-spacing: -2%;
    font-weight: 700;
}
